dprapp filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/cv2/cv2.cpython-36m-darwin.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/cv2/.dylibs/libavcodec.58.54.100.dylib filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/cv2/.dylibs/libcrypto.1.1.dylib filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/cv2/data/haarcascade_frontalface_alt_tree.xml filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/scipy/special/cython_special.cpython-36m-darwin.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/scipy/special/_ufuncs.cpython-36m-darwin.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/scipy/sparse/_sparsetools.cpython-36m-darwin.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/numpy/core/_multiarray_umath.cpython-36m-darwin.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/pygame/.dylibs/libSDL2-2.0.dylib filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/pygame/.dylibs/libsdl2_mixer.dylib filter=lfs diff=lfs merge=lfs -text
