dprapp filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/cv2/cv2.cpython-36m-darwin.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/cv2/.dylibs/libavcodec.58.54.100.dylib filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/cv2/.dylibs/libcrypto.1.1.dylib filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/cv2/data/haarcascade_frontalface_alt_tree.xml filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/scipy/special/cython_special.cpython-36m-darwin.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/scipy/special/_ufuncs.cpython-36m-darwin.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/scipy/sparse/_sparsetools.cpython-36m-darwin.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/numpy/core/_multiarray_umath.cpython-36m-darwin.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/pygame/.dylibs/libSDL2-2.0.dylib filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/pygame/.dylibs/libsdl2_mixer.dylib filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/Crypto/SelfTest/Cipher/test_vectors/AES/gcmDecrypt128.rsp filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/Crypto/SelfTest/Cipher/test_vectors/AES/gcmEncryptExtIV128.rsp filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/google/protobuf/pyext/_message.cpython-36m-darwin.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/grpc/_cython/cygrpc.cpython-36m-darwin.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/notebook/static/notebook/js/main.min.js filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/notebook/static/notebook/js/main.min.js.map filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/tensorboard/plugins/projector/tf_projector_plugin/projector_binary.js filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/tensorflow/libtensorflow_framework.2.dylib filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/h5py/.dylibs/libhdf5.103.dylib filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/pywt/tests/data/dwt_matlabR2012a_result.npz filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/scipy/.dylibs/libopenblasp-r0.3.7.dylib filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/tensorboard_plugin_wit/static/wit_tb_bin.js filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/tensorflow/libtensorflow_framework.2.2.0.dylib filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/japanize_kivy/resources/ipaexg00401/ipaexg.ttf filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/tensorflow/python/_pywrap_tfcompile.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/tensorflow/python/profiler/internal/_pywrap_profiler.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/tensorflow/libtensorflow_framework.dylib filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/tensorflow/include/external/sobol_data/sobol_data.h filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/tensorflow/lite/python/interpreter_wrapper/_tensorflow_wrap_interpreter_wrapper.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/tensorflow/lite/python/optimize/_tensorflow_lite_wrap_calibration_wrapper.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/tensorflow/python/_pywrap_tf_item.so filter=lfs diff=lfs merge=lfs -text
lib/python3.6/site-packages/widgetsnbextension/static/extension.js.map filter=lfs diff=lfs merge=lfs -text
share/jupyter/nbextensions/jupyter-js-widgets/extension.js.map filter=lfs diff=lfs merge=lfs -text
