{%- extends "layout.html" %}
{%- block content %}

<div class="large" style='margin-top: 50px;'>
    <div class="text-center">
        
        <div style="margin-bottom: 20px;">
        {% for i in range(fgs|length) %}
            {{ fgs[i] }}<br>
            <br>
        {% endfor %}
        </div>


        <div class="large" style='margin-top: 30px;'>
            <div class="text-center">
              {% for error in form.endg_txt.errors %}
              <p style="color: orange;">{{ error }}</p>
              {% endfor %}
              {% for error in form.tasks_txt.errors %}
              <p style="color: orange;">{{ error }}</p>
              {% endfor %}
            </div>
        </div>



        <div style="margin-left:30px; margin-right:30px;">
            <form action="/fg_p" method="POST">
                
                {% for i in range(our_text|length) %}
                <label class="subheader">
                    {{our_text[i]}}
                </label>
                {% endfor %}

                <!-- <textarea name="{{i}}" placeholder="type"></textarea> -->
                {{ form.csrf_token }}
                {{ form.endg_txt(size=20) }}
                {{ form.tasks_txt(size=20) }}

                <fieldset>
                    <button class="button" type="submit" value="Submit">Submit</button>
                </fieldset>
            </form>
        </div>



</div>
</div>
{% endblock %}