{%- extends "layout.html" %}
{%- block content %}
<div class="large" style='margin-top: 30px;'>
    <div class="text-center">
        <form action="/diagnosis_p" method="POST">
            <div style='margin-top: 30px; margin-bottom: 30px;'>
                {{message}}
            </div>
            {% for num in range(27) %}
            <legend>{{question[num]}}</legend>
            <input type="radio" name={{num}} value=1 id="pocketsRed"><label for="pocketsRed">Yes</label>
            <input type="radio" name={{num}} value=0 id="pocketsBlue"><label for="pocketsBlue">No</label>
            {% endfor %}        
            <div style="margin-top: 30px; margin-top: 30px;">
                <button class="button" type="submit" value="Submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{%- endblock %}
