{%- extends "layout.html" %}
{%- block content %}
<div class="large" style='margin-top: 30px;'>
    <div class="text-center">
      <label class="subheader">{{word2}}</label>
      <label class="subheader">{{word1}}</label>
      <label class="subheader">{{word3}}</label>
    </div>
</div>

<div class="large" style='margin-top: 30px;'>
  <div class="text-center">
    {% for error in form.ai_txt.errors %}
    <p style="color: orange;">{{ error }}</p>
    {% endfor %}
  </div>
</div>

  <div class="large" style='margin-top: 50px;'>
    <div class="text-center">
      <label class="subheader">
          How was your day?
      </label>
      <div style="margin-left:30px; margin-right:30px;">
        <form action="/ai" method="POST">
            <!-- <textarea placeholder="type here" name="text"></textarea> -->

            {{ form.csrf_token }}
            {{ form.ai_txt(size=20) }}

            <fieldset>
                <button class="button" type="submit" value="Submit">Submit</button>
            </fieldset>
        </form>
        <p>本来はポジティブなワード使ってを80%まであげないと提案はないが、サンプルのため解除中</p>
        <p>サンプル：I want to die. but I want to alive. but sometimes, I think the way of death.</p>
      </div>
    </div>
  </div>
{%- endblock %}