{%- extends "layout.html" %}
{%- block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    
        var x = $('#rn').val();
        console.log('ここ',x);
        console.log(location.host);

        // アドレスに+α追加するとemit系が死ぬ
        //flask接続アドレスと同じにしなければならぬ...
        // urlを指定するとemitが死ぬが、指定しなければ公開になる。
        // var socket_emi = io.connect('https://sample301-20210223.herokuapp.com');
        // var socket = io.connect('https://sample301-20210223.herokuapp.com'+'/'+x);

        const options = { 
            transports: ['websocket', 'polling' ]
        };

        var socket_emi = io.connect('https://sample301-20210223.herokuapp.com', options);
        var socket = io.connect('https://sample301-20210223.herokuapp.com'+'/'+x, options);

        



        // どうも１つづつ個別で存在しないといけないらしい。
        // オブジェクト思考みたいな書き方したら死んだ

        $('#choice').on('click', function() {
            var value = $('#twmc_rn').val();
            socket_emi.emit("join", value);
        });

        socket.on('message', function(msg) {
            $("#messages").append('<li>'+msg+'</li>');
            // console.log('Received message');
        });
                
        $('#sendbutton').on('click', function() {

            var roomname = '/'+$('#rn').val();

            socket.send($('#myMessage').val(), roomname);
            $('#myMessage').val('');

        });
        

        // ページ離れる時の処理
        window.onload = function(){
            //ページを離れる直前にメッセージを表示する
            // window.onbeforeunload = function(){
            //     return "OK?";
            // }

            //ページを離れた時に新規ウィンドウを開く
            window.onunload = function(){
                // window.open();
                var roomname = $('#rn').val();

                socket_emi.emit("parting", roomname);

            }
        }

    });
</script>


<div class="large" style='margin-top: 30px;'>
    <div class="text-center">
        

        {% if roomname == 0 %}
            <div>
                <p>you must create a user account</p>
            </div>
        {% else %}

            {% if txt =='' %}

                <div class="large" style='margin-top: 30px;'>
                    <div class="text-center">
                    {% for error in form.twmc_room.errors %}
                    <p style="color: orange;">{{ error }}</p>
                    {% endfor %}
                    </div>
                </div>


                <form action="/twmc_p" method="POST">
                    <input id="twmc_rn" value="{{ roomname }}" style="display: none;">
                    <!-- {{ form.csrf_token }}
                    {{ form.twmc_room(size=20, id="twmc_rn") }} -->
                    <button id="choice" value=0 name="action" class="hollow button secondary" style="color:rgb(81, 163, 196); background-color: rgb(227, 251, 253);">chat</button>
                    <button id="choice" value=2 name="action" class="hollow button secondary" style="color:rgb(81, 163, 196); background-color: rgb(227, 251, 253);">voice call</button>
                </form>

            {% elif txt == '0' %}
                
                <ul id="messages"></ul>
                {{ form.csrf_token }}
                {{ form.twmc_txt(size=20, id="myMessage") }}
                <input id="rn" value="{{ roomname }}" style="display: none;"></p>
                <button id="sendbutton" style="background-color: lightblue;">Send</button>

                <div class="large" style='margin-top: 30px;'>
                    <div class="text-center">
                    {% for error in form.twmc_txt.errors %}
                    <p style="color: orange;">{{ error }}</p>
                    {% endfor %}
                    </div>
                </div>


            {% elif txt == '2' %}
                coming soon!
            {% endif %}
        
        {% endif %}

    </div>
</div>

{% endblock %}