{%- extends "layout.html" %}
{%- block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
    
        var x = $('#rmid').val();
        // console.log('ここ',x);

        var socket_emi = io.connect('https://sample301-20210223.herokuapp.com');
        var socket = io.connect('https://sample301-20210223.herokuapp.com'+'/'+x);
        
        $('#enter').on('click', function() {
            var value = $('#enter').val();
            console.log('確認1');
            socket_emi.emit("joins", value);
        });

        socket.on('message', function(msg) {
            $("#messages").append('<li>'+msg+'</li>');
            console.log('Received message');
        });
                
        $('#sendbutton').on('click', function() {
            var roomname = '/'+$('#rmid').val();
            socket.send($('#myMessage').val(), roomname);
            $('#myMessage').val('');
        });



        // グラフ
        $(document).on('click', '#views',function(event){
            event.preventDefault();
            var sign_pre = $(this).attr('name');
            console.log(sign_pre);
            // var id_pre = id_pre.split(',');
            // var id = '#' + id_pre[0];

            $.ajax(
                {
                type : 'post',
                url : '/own_ajax',
                data : {sign : sign_pre},
                dataType: 'json',
                success: function(response){
                    $('#views').html(response['form'])
                    console.log($('#text_id').html(response['form']));
                },
                error: function(rs, e){
                    console.log(rs.responseText);
                }
            })
            .done(function(data){
                // $(view).text(data.output).show();



                if (data.output[0]=="score"){
                 
                  google.charts.load('current', {'packages':['corechart']});
                  google.charts.setOnLoadCallback(drawChart);
                  
                  grp_datas = [['Date', 'Score']]
                  for (let i=0; i<data.output[1].length; i++){
                    grp_datas.push(data.output[1][i]);
                  }

                  function drawChart() {
                    var data = google.visualization.arrayToDataTable(
                      grp_datas
                    );

                    var options = {
                      title: 'Mind Score',
                      curveType: 'function',
                      legend: { position: 'bottom' }
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('viewing'));

                    chart.draw(data, options);
                  }



                }else if (data.output[0]=="personality"){
                  $(viewing).text(data.output[1]).show();



                }else if (data.output[0]=="endgtask"){
                  $('#viewing').html(data.output[1].replace(/\n/g, '<br>'));


                }else if (data.output[0]=="bbsontxt"){
                  $('#viewing').html(data.output[1].replace(/\n/g, '<br>'));



                }else if (data.output[0]=="bbsonact"){
                  $('#viewing').html(data.output[1].replace(/\n/g, '<br>'));

                };
            });
        });

    });
</script>



<div class="large" style='margin-top: 30px;'>
    <div class="text-center">

      {% if roomsign == 0 %}

      {% if (rooms|length) > 0 %}

          {% for num in range(1,rooms[0]) %}
            <form action="/own_p" method="POST">
              <button id="enter" value="{{ rooms[num] }}" name={{num}} class="button" type="submit">{{ rooms[num] }},{{ num }}</button>
            </form>
          {% endfor %}
      
          <ul class="vertical menu" data-accordion-menu>
            <li>
                <a href="#0">This is the code for a feature that could not be used due to heroku's slug size issue.</a>
                <ul class="menu vertical nested">
                  <li>
                      <textarea style="height: 500px;">
                        何らかの原因により本実装ができず、仮実装をしている奴は★
                        データベースはuser_id（ipアドレス）で紐付けしている
                        

                        
                        [Level1 初期は文字は最小限 -free]
                        ・愚痴聞きAI-beginner 入力されたテキストから、病み度判定
                          テキストデータの処理→病み度スコア化→合計で一定条件満たしたらnextステップ
                          病み度スコアは最悪貧弱モードの性格を考慮した上で判定する。ラインは80/100
                          postgreで、IDはIPアドレスで作成。L2までIDを引継ぎする
                          重要な単語のオウム返し＋mindを上げる発言をする knn
                        ★Knnにしたが、ナイーブの方が適切だと思われるので再度検討すること
                         ついでに、LInearSVCした
                           理解・共感→感想→提案
                           「理解・共感」new_testerの重さを可視化して、線形で分断し、低い値の物たちを使用する。頻出度をL1、線形で線を引く
                            ★「感想」一番低い特徴量を選択、適当な文章を作成する。参考文書はsampleから使いたい
                            本実装では、自然言語処理の知識が必要。
                            仮実装は同じ文字数で返すミラーリング法を使う。K近傍で、新規データの文字数を新規データポイントとし、encouraging.xlsxの文字数たち→sample/enco_list.xlsx(Xを文字数、Yを配列番号と仮説)と照合
                        
                        ・継続してappを使えているか(ログボ
                           ただサイトを起動しただけでも、大きな一歩とカウントしたいので別にDBを設置する
                           サイトを開いた時点でIP奪取＋タイムスタンプで仮DB



                        [Level2 ある程度元気な状態になったら他の機能紹介 -free] [0~80%]
                        l1_userにテキスト内容も挿入できるように変更
                        l2_aiに愚痴聞きトータルスコアを引き継ぎできるように、personal_scoreでclass化
                        l1_loginにすでにログインしていたら、DB挿入を無視するように追記
                        ・性格診断 LinearSVC+knn
                          鬱になりやすい性格を集めて、ランダムフォレストはどうか→knn
                          データベースに挿入(ip、診断結果(0と1の)、性格スコア)
                        ★0~30/30~70/70~100と事前に分割下が、それを#凝集型クラスタリングで調整するのはどうか
                        
                        ・愚痴聞きAI-standard 入力されたテキストから、病み度判定＋具体的な解決方法提案
                         テキストデータの処理→病み度スコア化→一定条件満たしたらnextステップ 80%
                          病み度スコアは性格両診断を考慮した上で判定する。数値爆上げせずに、分散させる
                         提案1stはなし、2ndからはアルゴリズム予想で提案リストを参照し、提案
                          性格診断でオススメ対処法を全て参照、発言診断で病みが低ければ全て/多ければ削るスタイルその選択肢をいくつの中でランダムに１つ選択し、それ提案とする。
                          性格診断 ベースデータを#凝集型クラスタリング→PCA、線形他くらす or knnDBSCAN? 診断による結果から、recommend言葉(sample/recommend_concrete)を探す。
                        ★性格＋発言からベストな方法が見つからないので削るタイプしかできなかった。もっと良い案があるはず
                        
                        ・日記/メンタルヘルス 記録-beginner 数値記録のみポジティブなコメントがつく(強制するような発言ナシ
                         「数値」 自分で今の気持ちを記録するようにする。５段階評価。
                          ポジティブなマインドになるコメントを付ける。
                           未来予想＞過去予測=great！、未来＜過去=good！の優良可スタイル
                           PCA 長さ/濃さバラバラの５段階サンプルを作成
                           Linear regression(線形回帰) 特徴量と配列番号を使って回帰するなら、配列番号をX、Yに特徴量を入れる。predictでXつまり配列番号を指定し、Yの値を予測させるのがベストかも
                         「日記」 画像投稿可能、ただし１枚。文字数250
                        
                        ・最終目標とその目標への段階的な目標を作れる 継続app使用から、実世界での継続に切り替える
                         愚痴聞きが50%あたりで質問する→75%で具体的に何をすれば良いかを考えさせる
                          例)旅行、諦めていた目標に取り組む、より良い人間関係を築く、自身を改善する
                        
                        ・鬱対策 テキスト参照
                        
                        
                        
                        [Level3 さらに元気になったら提案 -lease $1~/month] [80%~100%]
                        l1_userに汚い単語を使った回数を入れれるようにカラム追加
                        l1_aiのDB挿入時に汚い単語を使った回数を引き継げるようにDB編集
                        ・前提 ユーザー登録機能 ラスト
                        
                         もしl3ユーザーであればl3の機能を通過させるようにする
                         l1で仮作成したデータベース(l1_user / l1_login)をまとめて、本データベース(l2_user)に移行する。守るポイントを１つに絞るため。絶対に守らないといけないやつを絞る。＋暗号化
                         ＋ユーザー名、生年月日、メールアドレス、電話番号、クレカ、＋IPアドレス
                        
                        ・日記/メンタルヘルス 記録-standard flask連携後、再度確認
                         ユーザー機能と紐付け
                          画像投稿可能、無制限。
                        
                        ・クエスト クエストを作って小さい成功を積み重ねる
                         ユーザー機能と紐付け
                          L2で作った目標を使う。
                           ①協調フィルタリング 同じ性格・同じ目標を持ってる人のデータを選ぶ
                            2-6-2の法則で、上位80%以上を「同じ」と定義する
                            協調フィルタリングのアルゴリズムはなく、理論のみっぽいのでggr
                            LDA 同じ目標に適応し、同じ単語(タスク内)所持率を計算する
                           ②LDA 数値が上昇した日までの、掲示板でのアクション/発言・愚痴・日記単語抜き出し
                           ③LSTM(RNN) 単語を突っ込んで、文章を作らせる(提案)。自作して愚痴にも適用
                          タスクを作成→1st done、1st done→2nd...のクリアまでの要した日数＋その人のapp内の全ての「行動・興味・発言」を照らし合わせて、対象問題解決に最善の方法を見つける
                           最初は目標作成→タスク作成までの日数
                           タスク作成 2021.1.1→1st done 2021.1.31=28日(2~30日)+1=30日
                           x日内で「行動・興味・発言」掲示板でのアクション/発言＋過去の愚痴＋数値が上昇した日の日記を全て取得→意味のある単語のみ抜き出し→deeplearningで合成したい。
                        
                        ・掲示板
                         ユーザー機能と紐付け
                         コメント不可・いいねファボのみ、攻撃的な文はNG
                          攻撃的な発言をした場合 投稿機能自体はさせるけど、表示はさせずに、ユーザーの平均スコア-5%を下げる。＋DBに記録として挿入（新しいscore、発言内容）
                          50%切ったら悪い単語を３回使ったら3日停止、アンガーマネジメントプログラムを実行させる
                         アンガーマネジメントプログラム 心を落ち着かせる方法をexcelに記載しランダムに抽出。もしかしたらアルゴリズムで関連づけることができるかもしれない。
                        
                        ・会話  with 心理カウンセラー
                         ユーザー機能と紐付け
                          チャット形式
                          ２人以上の乱入防止。同じチャットルームに２人が入れるか、つまり互換性を持たせる。
                          メンターにユーザーの情報開示
                           l1_user text/created_on、l2_personality record、l2_endg end_goal/end_goals_tasks、
                           l3_bullentin_boadrd_text bbs_txt_text、l3_bullentin_board_act bbs_act
                        

                        
                        [追加機能]
                        ・twmc
                         ユーザーがchatを起動したら、管理ページに部屋が表示される
                         対応中か否かを表示する
                         ユーザーの情報の汚さを改善する

                        ・Flask
                          Flask(python)/Foundation(html)
                        

                          
                        [TO DO]
                        セキュリティー対策
                         ・エスケープ処理
                           直前で変換させただけ、重要なもののみ。
                           直前よりも前に何度か処理するべき。
                         ・XSS
                           ・バリデーション
                            →flask-wtfで対応
                           ・サニタイズ
                            →bleachで対応
                         ・SQLインジェクション
                           ・プリペアドステートメント（プレースホルダ）

                      </textarea>
                    </li>
                </ul>
              </li>
        </ul>




      {% else %}

        <p>user is nothing</p>

      {% endif %}

      {% elif roomsign == 1 %}
          <input id="rmid" value="{{ rooms }}" style="display: none;">

          <ul id="messages"></ul>
          {{ form.csrf_token }}
          {{ form.twmc_txt(size=20, id="myMessage") }}
          <input id="rn" value="{{ roomname }}" style="display: none;"></p>
          <button id="sendbutton" style="background-color: lightblue;">Send</button>
          

          <!-- <p>input your name</p>
          {{ form.csrf_token }}
          {{ form.twmc_room(size=20, id="twmc_rn") }}
          <button id="choice">ok</button> -->

          <div class="large" style='margin-top: 30px;'>
              <div class="text-center">
              {% for error in form.twmc_txt.errors %}
              <p style="color: orange;">{{ error }}</p>
              {% endfor %}
              </div>
          </div>

          <div style="margin-top: 30px;">
            <ul>
                <li style="display: inline;"><button id="views" name="graph" class="hollow button secondary" style="color:rgb(81, 163, 196); background-color: rgb(227, 251, 253);">graph</button></li>
                <li style="display: inline;"><button id="views" name="personality" class="hollow button secondary" style="color:rgb(81, 163, 196); background-color: rgb(227, 251, 253);">personality</button></li>
                <li style="display: inline;"><button id="views" name="endgtask" class="hollow button secondary" style="color:rgb(81, 163, 196); background-color: rgb(227, 251, 253);">end goal and tasks</button></li>
                <li style="display: inline;"><button id="views" name="bbsontxt" class="hollow button secondary" style="color:rgb(81, 163, 196); background-color: rgb(227, 251, 253);">bbs on text</button></li>
                <li style="display: inline;"><button id="views" name="bbsonact" class="hollow button secondary" style="color:rgb(81, 163, 196); background-color: rgb(227, 251, 253);">bbs on act</button></li>
            </ul>

            <div id="viewing" style="width: 400px; height: 200px"></div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
        </div>


      {% endif %}
    </div>
  </div>
{%- endblock %}